
.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
}

.banner-card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card-content {
    position: relative;
    z-index: 1;
    color: #fff;
    margin-left: 5%;
    max-width: 45%;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    font-family: 'SF Pro', sans-serif;
    font-size: 21px;
    color: lightgray;
}

.logo-container {
    margin-bottom: 1rem;
}

.logo-container img {
    max-width: 300px;
    max-height: 150px;
}

.banner-title {
    font-family: 'San Francisco Display', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    line-height: 1.1;
}

.title-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.banner-nav {
    margin-top: 2rem;
}

.watch-now-button {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.movies-section {
    padding-top: 16px;
}

.carousel-item:hover {
    border: 2px solid white;
    border-radius: 5px;
    transition: border 0.2s;
}

@media (max-width: 768px) {
    .banner {
        height: 70vh;
    }

    .banner-title {
        font-size: 50px;
    }

    .card-content {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .banner-title {
        font-size: 30px;
    }

    .card-content {
        max-width: 90%;
        margin-left: 2rem;
    }

    .watch-now-button {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }

    .card-info {
        font-size: 14px;
    }
}
