
.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
  }
  
  .banner-content {
    position: relative;
    z-index: 1;
    color: #fff;
    max-width: 50%;
    margin-top: 15%;
    margin-left: 5%;
  }
  
  .banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .banner-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .banner-info span {
    margin-right: 1rem;
  }
  
  .banner-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .banner-buttons button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
  }
  
  .banner-buttons button.play-button {
    background-color: #fff;
    color: #000;
  }
  