:root {
    --bg: #080808;
    --bg2: #19161f;
    --main: #5f22d9;
    --sec: #ac73ff;
    --text: #e7e7e7;
    --ff-inter: "Montserrat", sans-serif;
    --section-heading: 40px;
    --fs-lg: 22px;
    --fs-md: 17px;
    --fs-sm: 14px;
    --fs-x-sm: 12px;
    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;
    --px: 120px;
}

.banner {
    position: relative;
    height: 100vh; /* Set to full viewport height for an immersive entry */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 60px; /* Add space below the banner */
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(8,8,8,1) 15%, transparent 50%);
    z-index: 2;
}

.banner-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.banner-card .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.banner .card-content {
    position: relative;
    z-index: 3;
    margin-bottom: 6rem; /* Adjust content position from bottom */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner .card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.banner-nav {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 55px;
    background-color: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.banner-nav .center-text {
    display: flex;
    align-items: center;
}

.banner-nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: var(--fw-6);
    font-size: 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.line {
    border-left: 2px solid #5b5b5b;
    height: 20px;
}
