
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.movie-type-buttons {
    display: flex;
    gap: 0.5rem;
}

.movie-type-buttons button {
    background-color: #282c34;
    border: 1px solid #8A2BE2;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.movie-type-buttons button:hover {
    background-color: #3e444f;
}

.movie-type-buttons button.active {
    background-color: #8A2BE2;
    color: #fff;
    font-weight: bold;
}
