/* Carousel.css */
.carousel-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.carousel-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.carousel-wrapper {
    display: flex;
    gap: 20px;
}

.carousel-item {
    flex: 0 0 auto;
    width: 200px; /* Adjust based on your MediaCard size */
}

.see-more-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
}

.see-more-card {
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.see-more-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.cast-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.cast-image {
    width: 100%;
    height: auto;
}

.cast-info {
    padding: 10px;
}

.cast-name {
    font-weight: bold;
    color: #fff;
}

.cast-character {
    color: #aaa;
}
