/* DonationCard.css */
.donation-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a1a1a; /* Dark background */
  border: 2px dashed #444; /* Dashed border to indicate it's an ad slot */
  border-radius: 12px;
  color: #ccc;
  text-decoration: none;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.donation-card-container:hover {
  border-color: #ffdd57;
  color: white;
}

.donation-text {
  margin-top: 10px;
  font-weight: bold;
  color: #ffdd57;
  font-size: 1.2em;
}

.donation-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.donation-card-content p {
  margin: 0.2rem 0;
  font-size: 1em;
  word-wrap: break-word;
}

.donation-card-disclaimer {
  font-size: 0.8em;
  color: #888;
}

.donation-card-contact {
  font-weight: bold;
  color: #ffdd57;
  margin-top: 0.5rem;
}

/* Styles for when an image or video is present */
.donation-card-container.has-media {
  padding: 0;
  border: 1px solid #444;
}

.donation-card-container .donation-media {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will scale the media to fit the card */
  border-radius: 12px;
}
