
@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    } 
    .banner {
        height: 100vh;
    }

    .banner-card .card-content {
        padding-top: 100px;
    }

    .categories-container, .movies-section {
        margin: 0;
        padding: 0 10px;
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 1rem;
    }

    .with-buttons .movie-type-buttons {
        display: flex;
        gap: 5px;
    }

    .movie-type-buttons button {
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
    }

    .genre-filter-sheet {
        height: 50vh;
    }
}
