
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.search-results-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.movie-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.movie-image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.movie-card:hover .movie-image {
  filter: blur(5px);
}

.movie-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
}

.movie-card:hover .movie-info-overlay {
  opacity: 1;
}

.movie-title-container {
  overflow: hidden;
  white-space: nowrap;
}

.movie-title {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  animation: scroll-text 10s linear infinite;
  transform: translateX(0%);
}

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.play-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.play-button i {
  font-size: 1.5rem;
}

.play-button:hover {
  background-color: white;
  color: black;
}

.movies-section {
    padding: 0 27px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.section-header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-icon {
    font-size: 1.5rem;
}

.movie-type-buttons {
    background-color: #1c1c1e;
    border-radius: 50px;
    padding: 5px;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.movie-type-buttons button {
    background: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
}

.movie-type-buttons button:hover {
    color: #fff;
}

.movie-type-buttons button.active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.2);
}

@media (max-width: 767px) {
    .section-header h2 {
        font-size: 1.2rem; /* Reduced font size for mobile */
    }

    .section-icon {
        font-size: 1.2rem;
    }

    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .movie-type-buttons {
        transform: scale(0.85);
    }

    .movie-card {
        width: 120px;
        height: 180px;
    }

    .movie-card:hover {
      transform: none;
      box-shadow: none;
    }
    
    .movie-info-overlay {
      background: rgba(0, 0, 0, 0.5);
    }
    
    .play-button {
      width: 40px;
      height: 40px;
    }

    .play-button i {
      font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .section-header h2 {
        font-size: 1rem; /* Further reduced font size for very small screens */
    }

    .section-icon {
        font-size: 1rem;
    }
    
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}
