.movies-section {
    margin-top: 2rem;
    position: relative;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 15px;
}

.movie-type-buttons {
    display: flex;
    gap: 1rem;
}

.movie-type-buttons button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.movie-type-buttons button.active {
    background: white;
    color: black;
}
