
.movies-section {
    padding: 16px 30px 0;
    margin: 0 40px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.section-header h2 {
   color: #fff;
}

.movie-type-buttons {
    display: flex;
    gap: 0.5rem;
}

.movie-type-buttons button {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.movie-type-buttons button:hover {
    background-color: #fff;
    color: #000;
}

.movie-type-buttons button.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
