
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card:hover .movie-image {
  filter: blur(5px);
}

.movie-card .movie-image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.movie-card .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(10px);
}

.movie-card:hover .movie-info {
  opacity: 1;
}

.movie-card .movie-info h3 {
  margin: 0;
  font-size: 1rem;
}

.movie-card .play-button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.movies-section.with-buttons {
    padding: 0 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.section-header h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-icon {
    font-size: 1.5rem;
}

.movie-type-buttons {
    background-color: #1c1c1e;
    border-radius: 50px;
    padding: 5px;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.movie-type-buttons button {
    background: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    position: relative;
}

.movie-type-buttons button:hover {
    color: #fff;
}

.movie-type-buttons button.active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.2);
}

@media (max-width: 767px) {
    .section-header h2 {
        font-size: 1.2rem; /* Reduced font size for mobile */
    }

    .section-icon {
        font-size: 1.2rem;
    }

    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .movie-type-buttons {
        transform: scale(0.85);
    }

    .movie-card {
        width: 120px;
        height: 180px;
    }
}

@media (max-width: 320px) {
    .section-header h2 {
        font-size: 1rem; /* Further reduced font size for very small screens */
    }

    .section-icon {
        font-size: 1rem;
    }
    
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}
