/* Keyframe animation for the navbar on mobile */
@keyframes settleInMobile {
  from {
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

/* Keyframe animation for the navbar on desktop */
@keyframes settleIn {
  from {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1400px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: settleInMobile 0.8s ease-out forwards;
}

.nav-left, .nav-right, .nav-center {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo-link {
  display: block;
}

.logo {
  height: 40px;
}

.desktop-links {
  display: none;
}

.navbar-link, .dropbtn {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(26, 26, 26, 0.9);
  width: 62vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 15px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 100%;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-input {
  background-color: transparent;
  border: none;
  color: yellow;
  font-size: 1rem;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.search-icon, .menu-icon, .home-icon-link i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-icon {
  display: block;
}

.mobile-menu {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
}

.navbar.mobile-menu-open .mobile-menu {
  display: flex;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .navbar {
    top: 20px;
    bottom: auto;
    animation: settleIn 0.8s ease-out forwards;
  }

  .desktop-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .mobile-icon {
    display: none;
  }

  .search-form {
    display: flex;
    align-items: center;
  }
}
