
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: background-color 0.3s;
}

.navbar.scrolled {
    background-color: #000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 2rem;
}

.logo-img {
    height: 30px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #8A2BE2;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
}

.search-icon {
    color: white;
    cursor: pointer;
}

.search-input {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    transition: width 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 0, 0);
}

.search-input.active {
    width: 200px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #000;
        padding: 1rem;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}
