/* NavBar.css */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(18, 18, 18, 0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    max-width: 1600px;
    margin: 0 auto;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
    margin-right: 20px;
}

.navbar-link-home {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-link-home:hover {
    color: #e50914;
}

.search-bar-form {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.search-bar-input {
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    width: 250px; /* Adjust as needed */
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-button {
    border: none;
    background-color: #e50914;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar-button:hover {
    background-color: #f6121d;
}

@media (max-width: 768px) {
    .navbar-fixed {
        display: none;
    }
}
